<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="false" />
  <xmlSiteMap enabled="true" excludeUmbracoNaviHide="true" />
  <robotsTxt enabled="true" />
  <urlRewrite forcewwwUrls="False" useTrailingSlashProperty="true" />
  <redirectConfig storeDomain="false" storeQueryString="true" forwardQuerystring="true" redirectWhenNodeExists="false" urlHistoryTracking="true" />
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>coverLetter</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>coverLetters</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>project</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>projects</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>experience</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>experienceList</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>education</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>educationList</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>resume</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>careerTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>skillDetails</documentDescriptionProperty>
      </documentDescriptionProperties>
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate>[#@seoTitle]</documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>1.0</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>questionSet</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>proposalEstimator</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty></documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty></documentDescriptionProperty>
      </documentDescriptionProperties>
      <defaultSocialImageProperties>
        <defaultSocialImageProperty></defaultSocialImageProperty>
      </defaultSocialImageProperties>
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate />
      <twittercardTitleTemplate />
      <documentTitleTemplate />
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>noFollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>true</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <permissions>
    <role name="writer" allowed="issues,notifications" />
    <role name="editor" allowed="redirectmanagement,validation,ignorelist,notifications" />
  </permissions>
  <emailConfiguration>
    <email>
      <alias>notification</alias>
      <fromAddress>jim.fifth@5thstudios.com</fromAddress>
      <fromName>5th Studios Notification</fromName>
      <subject>SEO issue report</subject>
      <xslt>notification-mail.cshtml</xslt>
    </email>
    <email>
      <alias>scheduledtask</alias>
      <fromAddress>jim.fifth@5thstudios.com</fromAddress>
      <fromName>5th Studios- Scheduled Validation</fromName>
      <subject>Scheduled validation finished</subject>
      <xslt>scheduledtask-mail.cshtml</xslt>
    </email>
  </emailConfiguration>
  <rootNodeSettings>
    <rootNode>
      <nodeId>1149</nodeId>
      <canonicalDomain>5thstudios.com</canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages>
        <language isoCode="en-US" nodeId="1149" />
      </languages>
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" metaDescriptionMaxLength="160" />
  <socialConfig>
    <enableFacebook>false</enableFacebook>
    <faceBookAppId></faceBookAppId>
    <enableTwitter>false</enableTwitter>
    <twitterAccount></twitterAccount>
  </socialConfig>
</SEOChecker>